@import '../../styles/varibels';

.table{
    width: 97%;
    margin: 130px auto;
    border-collapse: collapse;
    cursor: pointer;
}

.headerRow{
    background-color: $background-color-green;
    color: $secondary-color;
}

.headerCell{
    padding: 12px;
    border: 1px solid $border-color;
    font-weight: 600;
    text-align: left;
    color: $primary-color;
}

.row{
    transition: background-color 0.2s;
    border: 1px solid $border-color;

    &:hover{
    background-color: $background-color-yellow;
    }
}

.cell{
    padding: 12px;
    border: 1px solid $border-color;
}

.buttonSave{
    padding: 6px 12px;
    margin-right: 10px;
    border-radius: 4px;
    color: $primary-color;
    border: 2px solid $button-background-color-green;
    cursor: pointer;
    
    &:hover{
    color: $color-white;
    background-color: $button-background-color-green;
    }

    &:disabled {
    background-color: $button-disabled; 
    color: $primary-color;
    cursor: not-allowed; 
    opacity: 0.5; 
    }
}

.buttonClose, .buttonDelete{
    padding: 6px 12px;
    margin-right: 10px;
    border-radius: 4px;
    color: $primary-color;
    border: 2px solid $button-background-color-brown;

    cursor: pointer;

    &:hover{
    background-color: $button-background-color-brown;
    color: $color-white;
    }
}

.buttonEdit{
    padding: 6px 12px;
    margin-right: 10px;
    border-radius: 4px;
    color: $primary-color;
    border: 2px solid $button-background-color-orange;
    cursor: pointer;

    &:hover{
    background-color: $button-background-color-orange;
    color: $color-white;
    }
}

.invalid {
  border: 2px solid $invalid-border-color;
  outline: none;
}
