@use '../../styles/varibels' as *;

    .page {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $margin-top auto 0;
    }

    .title {
    text-align: center;
    font-size: 28px;
    }

    .text {
    text-align: center;
    margin: 0;
    }

    .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 32px 0;
    
    }

    .card {
    background-color: $background-color-yellow;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 4px rgba($primary-color, 0.1);
    flex: 0 1 230px;

            .icon {
                font-size: 32px;
                margin-bottom: 8px;
            }

            .cardTitle {
                color: $secondary-color;
                font-weight: 600;
                margin: 0;
            }

            .cardDescription {
                line-height: 1.4;
                font-size: 16px;
            }
    }