@use '../../styles/varibels' as *;

.trainingPage{
        margin: $margin-top auto $margin-botton;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;

        .title{
        padding: 12px 24px;
        color: $primary-color;
        text-align: center; 
        }
}