@use '../../styles/varibels' as *;

.check, .close {
    margin: 12px 0;
    padding: 6px 12px;
    border-radius: 4px;
    color: $primary-color;
    cursor: pointer;
    font-weight: 600;
    font-size: $font-size-base;

    &:focus {
        outline: none;
    }
}

.check {
    border: 2px solid $button-background-color-green;
    background-color: white;

    &:hover,
    &:focus {
        background-color: $button-background-color-green;
        color: $color-white;
        transform: scale(1.1);
    }
}

.close {
    border: 2px solid $button-background-color-brown;
    background-color: $color-white;

    &:hover,
    &:focus {
        background-color: $button-background-color-brown;
        color: $color-white;
        transform: scale(1.1);
    }
}