$primary-color: #4f4032;
$secondary-color: #845404;

$background-color-green: #ccd4a4;
$background-color-yellow: #F4F8D3;
$background-color-light: #fbfce8;
$background-color-brown: #6b5b4f;

$color-white: #FFFFFF;
$color-orange: #E9A319;
$border-color: #ddd;



$button-background-color-green: #88a763;
$button-background-color-brown: #845404;
$button-background-color-orange: #f5b40d;
$button-disabled: #cccccc;

$invalid-border-color: #f30909;

$margin-top: 90px;
$margin-botton: 50px;
