@use '../../styles/varibels' as *;

.homePage{
        margin: $margin-top auto $margin-botton;

        .title{
        font-size: $font-size-h2;
        padding: 10px 24px;
        font-weight: 700;
        color: $primary-color;
        }
}