    @use '../styles//varibels' as *;

    body{
        font-family: $font-main;
        font-size: $font-size-base;
        h1{
        color: $primary-color;
        font-size: $font-size-h1;
        }
    a{
        text-decoration: none;
    }
    ul{
        list-style: none;
    }
}
