@use '../../styles/varibels' as *;

.conteinerError{
    width: auto;
    margin: 130px 100px;
    display: flex;
    justify-content: space-between;

    .infoError{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: space-between;
    color: $primary-color;
    }
    .backHome{
        margin: 12px 0;
        padding: 10px 16px;
        border-radius: 4px;
        color: $secondary-color;
        font-size: 20px;
        background-color: $color-white;
        color: $primary-color;
        border: 2px solid $primary-color;
        cursor: pointer;
        font-weight: 600;
    &:hover{
        background-color: $primary-color;
        color: $color-white;
    }
}
}
