@use '../styles/varibels' as *;

.headerConteiner{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    background-color: $background-color-light;

    .conteinerLogo{
    display: flex;
    gap: 5px;

    .logo{
        height: 50px;
        width: auto;
        margin: auto 0;
                
        &:hover{
            transform: scale(1.1);
            }
        }
        
        .title{
            cursor: pointer;

            &:hover{
                    transform: scale(1.1);
                    color: $color-orange;
                    }
            }
    }
    .nav{
        display: flex;
        gap: 80px;
        margin: 0;

        .itemsNav{
        color: $primary-color;
        font-weight: 700;

        
        &:hover{
            color: $color-orange;
        }
        }
    }
    .active{
            font-weight: 600;
            color: $color-orange;
        }
}